table.zebra{
    min-width: 50%;
    border-collapse: separate;
    border-spacing: 1px;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 15px 15px  75px -10px #000000;
}

table.zebra th, table.zebra td{
    padding: 10px 0;
    text-align: center;
}

table.zebra th{
    background-color: #049dc4;
}

table.zebra tr{
    color: black;
}

table.zebra tr:nth-child(odd){
    background-color: #e2f2ff;
}

table.zebra tr:nth-child(even){
    background-color: #fefeff;
}

.soft_ui{
    outline: none;
    color: black;
    margin: 10px;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px #888;
}

.text_001{
    outline: none;
    color: black;
    margin: 10px;
    padding: 5px 30px;
    height: 40px;
    width: 250px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 10px #888;
}

.submit_button{
    color: white;
    background-color: #fe005d;
    outline: none;
    border: none;
    padding: 5px 30px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #888;
}

.submit_button:hover{
    transition: all 0.5s ease;
     background-color: #d8004f;
}

.submit_button:active{
    box-shadow: inset 5px 5px 10px #860031;
}